.tiptap.ProseMirror {
  /* =====================
       VIDEO NODE
       ===================== */
  video {
    max-width: 100%;
    border-radius: 0.375rem;
    margin: 1rem 0;
    display: block;
  }
}
